/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  max-width: 455px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: #000;
}

.memo {
  padding: 0;
  margin: 0 8px;
  height: 140px;
  border-bottom: 1px solid #bcbbbb;
}

.input {
  min-height: 46px;
  width: 100%;
  font-family: monospace;
  padding: 8px;
  margin: 0;
  font-size: 24px;
}
.input .s-text {
  font-size: 20px;
}
.input .mini-text {
  font-size: 18px;
}
.input #expression {
  text-align: justify;
  -moz-text-align-last: right;
       text-align-last: right;
  word-wrap: break-word;
  max-width: 424px;
}

.menu {
  display: none;
  width: 150px;
  background-color: #ccc;
  position: absolute;
  bottom: 135px;
  left: 435px;
  border-radius: 5px;
}
.menu .tool {
  z-index: 1;
}
.menu .tool-item {
  list-style-type: none;
}

.butt {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  color: #000;
}
.butt .butt-item {
  width: 80px;
  height: 50px;
  border: 1px solid #cfcfd1;
  color: #2b508d;
  background-color: #f2f2f4;
  padding: 0;
  margin: 4px;
  font-size: 24px;
}
.butt .butt-item:active {
  background-color: #9e4512;
}
.butt .butt-item.active {
  background-color: #9e4512;
}
.butt .butt-math {
  color: #000;
  background-color: #d7dde0;
}

.kebab {
  position: relative;
  top: 90px;
  border-radius: 99px;
  background-color: #fff;
  border: none;
  padding: 5px 14px;
  margin: 8px;
  font-size: 20px;
}

.kebab:active {
  background-color: #ccc;
}

.dark {
  background-color: #8889c5;
}
.dark .main {
  background-color: #6969b1;
}
.dark .butt {
  background-color: #7e9ecf;
}
.dark .butt .butt-int {
  background-color: #c9c9ee;
}
.dark .butt .butt-math {
  background-color: #9292a9;
}
.dark .input #expression {
  color: #f2d2fc;
}
.dark .kebab {
  background-color: #6969b1;
  color: #fff;
}
.dark .kebab:active {
  background-color: #ccc;
  color: #6969b1;
}/*# sourceMappingURL=index.css.map */