$color-black: #000;
$color-white: #fff;
$color-bg: #ccc;
$color-butt: #2b508d;
$color-bg-but: #f2f2f2;
$color-bg-butNumber: #f2f2f4;
$color-bg-butMath: #d7dde0;
$color-bg-active: #9e4512;
$color-dark: #8889c5;
$color-dark-text: #f2d2fc;
$color-dark-box:#6969b1;
$color-dark-butt: #7e9ecf;
$color-dark-butt-number: #c9c9ee;
$color-dark-butt-math: #9292a9;

